body{
    background-color: rgb(224, 224, 211);
}
.cont{
    position: relative;
    left: 300px;
    background-color: white;
    height: 800px;
    width:600px;
}
.name {
    position: relative;
    top: 20px;
    left:400px;
}

.logo {
    height: 100px;
    width:100px;
    position:absolute;
    left:0;
    top:0;
    
}
.details{
    font-size:10px;
    position: relative;
    left:290px;
}
.Hr{
    background-color:white;
    width:600px;
    height: 100px;
}
.sec2{
    position: relative;
    bottom: 12px;
}
.sec3{
    position: relative;
    bottom: 60px;

}
.sec4{
    position: relative;
    bottom: 138px;
}
.sec5{
    position: relative;
    bottom: 150px;
}
.title{
    font-size: smaller;
    position: relative;
    left:40px;
    top:10px;
}
table {
    font-family: arial, sans-serif;
    font-size: 10px;

    border-collapse: collapse;
    width: 90%;
  }
  
  td {
    text-align: center;
    padding: 4px;
  }
  .para{
    font-size: 12px;
    position: relative;
    bottom: 35px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: justify;
  }
  .para2{
    font-size: 12px;
    position: relative;
    bottom: 68px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: justify;
  }

